.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 40px;

    &__nav {
        flex-grow: 1;
    }
}

.header-logo {
    &__icon {
        vertical-align: middle;
    }
}

.header-nav {
    &__list {
        display: flex;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        gap: 40px;
    }

    &__item {
        &:first-child {
            margin-left: auto;
        }

        &:last-child {
            margin-left: auto;
        }
    }

    &__link {
        position: relative;
        display: flex;
        padding-bottom: 4px;
        gap: 8px;
        color: var(--text-dark);
        text-decoration: none;
        font-weight: 600;
        line-height: 24px;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            margin-right: auto;
            margin-left: auto;
            background-color: var(--text-dark);
            transition: width 0.2s;
        }

        &:hover::after,
        &--is-active::after {
            width: 100%;
        }
    }

    &__icon {
        vertical-align: top;
    }
}
