.menu {
    &__title {
        margin: 0 auto 40px;
        max-width: 800px;
        text-align: center;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 40px;
        list-style: none;

        @media (max-width: 767px) {
            gap: 8px;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    &__item {
        position: relative;
        max-width: 310px;
        flex-basis: calc(25% - 30px);

        @media (max-width: 1024px) {
            flex-basis: calc(33.3333% - 2 / 3 * 40px);
        }

        @media (max-width: 768px) {
            flex-basis: calc(50% - 20px);
        }
        
        @media (max-width: 480px) {
            flex-basis: 100%;
        }
    }

    &__more {
        display: none;

        @media (max-width: 768px) {
            margin-top: 40px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.menu-item {
    $self: &;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @media (max-width: 768px) {
        &--hide-mobile {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid var(--border-light);
        pointer-events: none;
        border-radius: 40px;
    }

    &__picture {
        display: block;
        border-radius: 40px;
        overflow: hidden;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        transform: scale(1.1);
        transition: transform 0.2s;
        border-radius: 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 12px;
        flex-grow: 1;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }

    &__text {
        min-height: 72px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 24px;
    }

    &__price {
        margin-top: auto;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }

    @media (hover: hover) {
        &:hover #{$self}__img {
            transform: scale(1);
        }
    }
}
