.page {
    scroll-behavior: smooth;

    &__body {
        min-width: 1440px;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--font);
        background-color: var(--background-body);
        color: var(--text-dark);
    }

    &__header,
    &__main,
    &__footer {
        width: 100%;
        max-width: 1440px;
    }

    &__main {
        padding-right: 40px;
        padding-left: 40px;
    }

    &__hero {
        margin-bottom: 100px;
    }

    &__footer {
        margin-top: auto;
    }
}
