.tab {
    $self: &;

    &__input:checked + #{$self}__label {
        background-color: var(--background-container);
        color: var(--text-light);

        &::before {
            background-color: var(--background-body);
            color: var(--text-dark);
        }
    }

    @media (hover: hover) {
        &__label:hover {
            background-color: var(--background-container);
            color: var(--text-light);
    
            &::before {
                background-color: var(--background-body);
                color: var(--text-dark);
            }
        }
    }

    &__input:not(:checked) + #{$self}__label {
        cursor: pointer;
    }

    &__input:focus-visible + #{$self}__label {
        outline: 2px solid var(--text-accent);
        outline-offset: 2px;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 7px 15px 7px 7px;
        border: 1px solid var(--border-light);
        border-radius: 100px;
        font-weight: 600;
        line-height: 24px;
        transition: background-color 0.2s, color 0.2s;

        &::before {
            content: attr(data-tab);
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            flex-shrink: 0;
            transition: background-color 0.2s;
            background-color: var(--border-light);
            color: var(--text-dark);
        }

        &--icon-coffee::before,
        &--icon-tea::before,
        &--icon-dessert::before {
            background-image: url('../images/tabs/menu-sprite.png');

            @media (min-resolution: 2dppx) {
                background-image: url('../images/tabs/menu-sprite-2x.png');
                background-size: auto 30px;
            }
        }

        &--icon-tea::before {
            background-position: -30px 0;
        }
        
        &--icon-dessert::before {
            background-position: -60px 0;
        }
    }
}
