@keyframes fade-in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: rgba(64, 63, 61, 0.80);
    }
}